<table class="row textfield" id="#{-data}OptionTable">
    <tr>
        <td x-mojo-loc="" id="#{-data}OptionTD" style="padding-left:16px; padding-bottom:5px; width:100%;">
            <span x-mojo-loc="" id="#{-data}OptionLabel" tag="#{-definition}">#{-data}</span>		
        </td>
        <td style="padding-top:4px;">
            <div id="#{-data}Option" name="#{-data}Option" x-mojo-element="ToggleButton" class="toggle-text"></div>
            <!--<div x-mojo-element="ToggleButton" id="togglebuttonId" class="togglebuttonClass"  name="togglebuttonName"></div>-->
        </td>	
    </tr>
</table>