<style>
.palm-page-header .header-icon.mywatch {
    background: url(icon48.png) no-repeat; background-size: 32px 32px; 
}
</style>
<div class="palm-page-header">
	<div class="header-icon mywatch"></div>
		<div class="header-text">
			<span x-mojo-loc=''>My Watch</span>
		</div>
</div>

<div id="watchWrapper" style="height:6px; margin-top: 6px; margin-left:0px; margin-right:0px;"></div>

<div class="palm-scene">

	<!-- Watch Type List -->
	<div class="palm-group">
		<div class="palm-group-title">Connection</div>
		<div class="palm-list">
			<div class="palm-row single" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="watchSelector"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="explain-text">
		Re-launch app after changing this option.
	</div>

	<!-- App Option List -->
	<span x-mojo-loc="" id="optionsTwisty">
		<table class="palm-divider labeled" x-mojo-loc="">
		<tr>
			<td class="left"></td>
			<td class="label">
				Notifications
			</td>
			<td class="right" style="width:100%; text-align: right" width="100%"><img id="appOptionsTwistyImg" name="appOptionsTwistyImg" src="images/arrow-down.png"></td>
		</tr>
		</table>
	</span>
	<div x-mojo-element="Drawer" id="drawerAppOptions" name="drawerAppOptions" class="drawerClass" tag="true">
		<div id="appOptionList" x-mojo-element="List" style="visibility: collapse;">
			<!--This will be populated from data-->
		</div>
		<div id="spinnerAppsContainer" name="spinnerAppsContainer">
			<div x-mojo-element="Spinner" id="spinnerApps" name="spinnerApps" class="spinnerClass" style="margin:auto;"></div>
			<div class="spinner-text">Scanning Installed Apps</div>
		</div>
	</div>

	<!-- New Testers -->
	<span x-mojo-loc="" id="testingTwisty">
		<table class="palm-divider labeled" x-mojo-loc="">
		<tr>
			<td class="left"></td>
			<td class="label">
				Testing
			</td>
			<td class="right" style="width:100%; text-align: right" width="100%"><img id="testingTwistyImg" name="testingTwistyImg" src="images/arrow-down.png"></td>
		</tr>
		</table>
	</span>
	<div x-mojo-element="Drawer" id="drawerTesting" name="drawerTesting" class="drawerClass" tag="true">
		<div style="height:10px;"></div>
		<div x-mojo-element="Button" id="test-ring"></div>
		<div x-mojo-element="Button" id="test-sms"></div>
		<div x-mojo-element="Button" id="test-email"></div>
		<div x-mojo-element="Button" id="test-music"></div>
		<div style="height:10px;"></div>
	</div> 

	<!-- Logging -->
	<span x-mojo-loc="" id="logTwisty">
		<table class="palm-divider labeled" x-mojo-loc="">
		<tr>
			<td class="left"></td>
			<td class="label">
				Logs
			</td>
			<td class="right" style="width:100%; text-align: right" width="100%"><img id="logTwistyImg" name="logTwistyImg" src="images/arrow-right.png"></td>
		</tr>
		</table>
	</span>
	<div x-mojo-element="Drawer" id="drawerLogging" name="drawerLogging" class="drawerClass" tag="false">  
		<div id="log-output">
		</div>
	</div> 

	<!-- Credits -->
	<div id="app-footer" class="explain-text" style="margin-top:14px;">
		© 2015 <a href="http://www.metaviewsoft.de/">MetaViewSoft</a><br/>
		2018 Updates by Jonathan Wise.
	</div>
</div>
