<style>
.palm-page-header .header-icon.mywatch {
    background: url(icon48.png) no-repeat; background-size: 32px 32px; 
}
.explain-text {	margin: 0px 16px 18px 16px; font-size: 14px; color: #666;}
</style>
<div class="palm-page-header">
	<div class="header-icon mywatch"></div>
		<div class="header-text">
			<span x-mojo-loc=''>My Watch</span>
		</div>
</div>

<div id="watchWrapper" style="height:6px; margin-top: 6px; margin-left:0px; margin-right:0px;"></div>

<div class="palm-scene">
	<div class="palm-group">
		<div class="palm-group-title">Connection</div>
		<div class="palm-list">
			<div class="palm-row single" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="watchSelector"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="explain-text">
		Re-launch app after changing this option.
	</div>

	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc="">Timeout on Pebble</div>
		<div class="palm-list">
			<div class="palm-row first" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="timeoutSelector"></div>
				</div>
			</div>
			<div class="palm-row last" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="CheckBox" id="lostConnectionSignal"></div>
					<div class="title truncating-text">Lost Connection Signal</div>
				</div>
			</div>
		</div>
	</div>

	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc="">Settings</div>
		<div class="palm-list">
			<div class="palm-row first" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="AllSelector"></div>
				</div>
			</div>
			<div class="palm-row" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="PhoneSelector"></div>
				</div>
			</div>
			<div class="palm-row" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="EmailSelector"></div>
				</div>
			</div>
			<div class="palm-row" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="MessageSelector"></div>
				</div>
			</div>
			<div class="palm-row" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="BatterySelector"></div>
				</div>
			</div>
			<div class="palm-row" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="MusicPlayerSelector"></div>
				</div>
			</div>
			<div class="palm-row" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="MusicRemixSelector"></div>
				</div>
			</div>
			<div class="palm-row" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="MacawSelector"></div>
				</div>
			</div>
			<div class="palm-row last" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="OtherSelector"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- New Testers -->
	<span x-mojo-loc="" id="testingTwisty">
			<table class="palm-divider labeled" x-mojo-loc="">
			<tr>
				<td class="left"></td>
				<td class="label">
					Testing
				</td>
				<td class="right" style="width:100%; text-align: right" width="100%"><img id="testingTwistyImg" name="testingTwistyImg" src="images/arrow-down.png"></td>
			</tr>
			</table>
		</span>
		<div x-mojo-element="Drawer" id="drawerTesting" class="drawerClass" name="drawerTesting" tag="true">
			<div style="height:10px;"></div>
			<div x-mojo-element="Button" id="test-ring"></div>
			<div x-mojo-element="Button" id="test-sms"></div>
			<div x-mojo-element="Button" id="test-email"></div>
			<div x-mojo-element="Button" id="test-music"></div>
			<div style="height:10px;"></div>
		</div> 

	<!-- Testers
	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc="">Testing</div>
		<div class="palm-list">
			<div class="palm-row first" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="test-ring"></div>
				</div>
			</div>
			<div class="palm-row" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="test-sms"></div>
				</div>
			</div>
			<div class="palm-row" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="test-email"></div>
				</div>
			</div>
			<div class="palm-row last" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper">
					<div x-mojo-element="Button" id="test-music"></div>
				</div>
			</div>
		</div>
	</div>
	-->

	<!-- Logging -->
	<span x-mojo-loc="" id="logTwisty">
		<table class="palm-divider labeled" x-mojo-loc="">
		<tr>
			<td class="left"></td>
			<td class="label">
				Logs
			</td>
			<td class="right" style="width:100%; text-align: right" width="100%"><img id="logTwistyImg" name="logTwistyImg" src="images/arrow-right.png"></td>
		</tr>
		</table>
	</span>
	<div x-mojo-element="Drawer" id="drawerLogging" class="drawerClass" name="drawerLogging" tag="false">  
		<div id="log-output">
		</div>
	</div> 

	<!-- Credits -->
	<div id="app-footer" class="explain-text" style="margin-top:14px;">
		© 2015 <a href="http://www.metaviewsoft.de/">MetaViewSoft</a><br/>
		2018 Updates by Jonathan Wise.
	</div>
</div>
