<div class="palm-scene">
	<div class="palm-group">
		<div class="palm-group-title">Enter item</div>
		<div class="palm-list">
			<div class="palm-row single" x-mojo-touch-feedback="delayed">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlite="true">
					<div class="title">
						<div x-mojo-element="TextField" id="pattern"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		Pattern is case-insensitive<br/>
		<code>pattern</code>	Contains<br/>
		<code>^pattern</code>	Starts with<br/>
	</div>
</div>
